// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #312f2f;
$light-gray: #F4F4F4;


$main-color: #009688;
$main-color-hover: #06c7b5;
